.admin_products {

    margin: 40px 5vw;
}
.admin_products_title {
    margin-bottom: 20px;
    font-size: clamp(22px, 3vw, 30px);
    font-weight: 600;
    text-align: center;
}
.product_p {
    margin-bottom: 15px;
    font-size: 13px;
    color: gray;
}
.product_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
    word-wrap: break-word;
    word-break: break-word;
}

.admin_store_list {

}

.admin_store_item {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--link-hoover);
    background: var(--white);
    padding: 10px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.store_details {
    flex-grow: 1;
}

.store_name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.store_description {
    font-size: 16px;
    color: gray;
    margin-bottom: 5px;
}

.store_link {
    font-size: 14px;
    color: black;
    text-decoration: underline;
}

.store_status {
    text-align: right;
}

.new_product_button {
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: white;
    background: #1c1c1c;
    border: 1px solid var(--link-hoover);
    border-radius: 5px;
}
.new_product_button:hover {
    background: var(--link-hoover);
}

.product_content {
    text-align: center;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
