.footer {
    background-color: var(--header-color);
    color: var(--link-color);
    text-align: center;

    padding: 10px 0;
}

.footer_wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: clamp(14px, 1.5vw, 17px);
}

@media (max-width: 500px) {
    .footer_wrapper {
        flex-direction: column;
    }
    .footer_links{
        margin: 10px 0 0;
    }
}
