.admin_contact_list {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;
}

.admin_contacts_title {
    margin-top: 40px;
    font-size: clamp(22px, 3vw, 30px);
    font-weight: 600;
    text-align: center;
}

.admin_contacts_section {
    padding: 20px;
    border-radius: 8px;

    margin: 0 5vw;
}


.admin_contact_item {
    width: 100%;
    border-radius: 10px;
    border: 2px solid var(--link-hoover);
    background: var(--white);
    padding: 10px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.admin_contact_content {
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
    word-wrap: break-word;
    word-break: break-word;
}

.product_p {
    font-size: 13px;
    color: gray;
}
.product_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
}

@media (max-width: 768px) {
    .admin_contacts_section {
        padding: 10px;
        max-width: 100%;
    }

    .admin_contact_item {
        padding: 10px;
    }
}
